*.xml
*-blx.bib
*.out
*.log
*.make
*.bbl
*.loc
*.tmp
*.d
*.fls
*.lot
*.toc
*.lof
*.temp
*.aux
*.pdf
*.blg
*.dvi
*.cookie
*~
*.idx
*.ilg
*.ind
*.brf
*.lop
*.bcf
*latexmk
*.mp
*.1
*.t1
*.nav
*.snm
jobname.bib
